<div class="alert alert-<%= config[:type].downcase %>">
   <% if options.close_buttons? %><button type="button" class="close" data-dismiss="alert">x</button><% end %>
   <strong><%= config[:type] %>!</strong>&nbsp;<%%= message %>
</div>
